<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Tweet World</h1>

    <p class="lead">Mine Tweets in Real-Time</p>
    <i class="fa fa-twitter-square fa-5x"></i>
  </div>
</header>

<div class="container">
  <form class="thing-form">
    <label>Syncs in realtime from twitter</label>

    <p class="input-group">
      <input type="text" class="form-control" placeholder="Search tweets" ng-model="searchText">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="searchTweets()">Search</button>
      </span>
    </p>

    <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" max-date="maxDate" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"/></button>
      </span>
    </p>
  </form>

  <div class="row col-lg-12">
    <h2 class="page-header" ng-show="currentSearch">Showing {{tweets.length}} results for '{{currentSearch}}':</h2>

    <div class="scrollable">
      <ul class="list-group" ng-repeat="tweet in tweets">
        <li class="list-group-item">
          <span>
            <img ng-src="{{tweet.userpic}}">
          </span>
          <span>
            ({{tweet.geo}})
          </span>
          <span>
            {{tweet.text}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>
      Cameron Fletcher | COSC3000 |
      <a href="https://github.com/cameronfletcher92/">Github</a></p>
    </p>
  </div>
</footer>
