<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Tweet World</h1>

    <p class="lead">Mine Tweets in Real-Time</p>
    <i class="fa fa-twitter-square fa-5x"></i>
  </div>
</header>


<!-- Main content (as cards) -->
<div layout="column" layout-padding>

  <div layout="row">

  <!-- Input Options -->
    <md-card flex="66">
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <span class="md-flex">Search Settings</span>
        </div>
      </md-toolbar>

      <md-content layout="column" layout-padding>
        <form>
          <!-- Text and Date Inputs -->
          <div layout="row">
            <md-input-container flex="60">
              <label>Search for a keyword</label>
              <input ng-model="searchText" ng-disabled="isSearching" />
            </md-input-container>
            <md-input-container flex="40">
              <label>Include tweets after:</label>
              <input type="date" ng-model="searchDate" ng-disabled="isSearching" />
            </md-input-container>
          </div>

          <!-- Buttons -->
          <div layout="row" layout-align="center">
            <div layout-margin>
              <md-button class="md-raised md-primary" ng-disabled="isSearching" ng-click="searchTweets()">Search</md-button>
            </div>
            <div layout-margin>
              <md-button class="md-raised md-primary" ng-disabled="!isSearching" ng-click="stopTweets()">Stop</md-button>
            </div>
          </div>

          <div layout="row">
            <md-progress-linear ng-show="isSearching" md-mode="indeterminate"></md-progress-linear>
          </div>
        </form>
      </md-content>
    </md-card>

    <!-- Statistics -->
    <md-card flex>
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <span class="md-flex">Stats</span>
        </div>
      </md-toolbar>

      <md-content layout-padding>
        <md-list layout="column">
          <md-item layout="row">
            <div flex="66">
              Total Tweets:
            </div>
            <div flex="33">
              {{tweetCount}}
            </div>
          </md-item>
          <md-item layout="row">
            <div flex="66">
              Location Tweets:
            </div>
            <div flex="33">
              {{heatPoints.length}}
            </div>
          </md-item>
        </md-list>
      </md-content>
    </md-card>
  </div>

  <!-- Map -->
  <div layout="row">
    <md-card flex>
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <span class="md-flex">Map</span>
        </div>
      </md-toolbar>

      <md-content layout="column" layout-align="center center" layout-padding>
        <leaflet center="map.center" layers="map.layers" height="400px" width="100%"></leaflet>
      </md-content>
    </md-card>
  </div>

  <!-- Tweet Feed -->
  <div layout="row">
    <md-card flex>
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <span class="md-flex">Tweet Feed</span>
        </div>
      </md-toolbar>

      <md-content layout-padding style="height: 400px">
        <md-list class="scrollable">
          <md-item ng-repeat="tweet in tweetFeed">
            <md-item-content layout-margin>
              <div class="md-tile-left" layout-margin>
                <img ng-src="{{tweet.userpic}}">
              </div>
              <div class="md-tile-content" layout-margin layout-padding>
                <h3>{{tweet.text}}</h3>
                <p ng-show="tweet.coordinates"> ({{tweet.coordinates[0]}}, {{tweet.coordinates[1]}})</p>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </md-content>
    </md-card>
  </div>

</div>

<!-- the footer -->
<footer class="footer">
  <div class="container">
    <p>
      Cameron Fletcher | COSC3000 |
      <a href="https://github.com/cameronfletcher92/">Github</a>
    </p>
  </div>
</footer>
