<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Tweet World</h1>

    <p class="lead">Mine Tweets in Real-Time</p>
    <i class="fa fa-twitter-square fa-5x"></i>
  </div>
</header>

<!-- The content -->
<md-content layout="column" layout-align="center" layout-margin layout-padding>

  <!-- The input form -->
  <form>
    <!-- row with the 2 input boxes -->
    <div layout="row" layout-align="center">
      <md-input-container layout-margin style="width: 60%">
        <label>Search for a keyword</label>
        <input ng-model="searchText" ng-disabled="isSearching" />
      </md-input-container>
      <md-input-container layout-margin>
        <label>Include tweets after:</label>
        <input type="date" ng-model="searchDate" ng-disabled="isSearching" />
      </md-input-container>
    </div>

    <!-- row with the button -->
    <div layout="row" layout-align="center center" layout-margin>
      <div layout-margin>
        <md-button class="md-raised md-primary" ng-disabled="isSearching" ng-click="searchTweets()">Search</md-button>
      </div>
      <div layout-margin>
        <md-button class="md-raised md-primary" ng-disabled="!isSearching" ng-click="stopTweets()">Stop</md-button>
      </div>
    </div>
  </form>

  <!-- The map -->
  <md-content layout="column" layout-align="center center" layout-margin layout-padding>
    <leaflet center="map.center" layers="map.layers" height="400px" width="900px"></leaflet>
  </md-content>

    <!-- The tweet list -->
  <md-content layout="column" layout-align="center" layout-margin layout-padding ng-show="tweetCount">
    <h3>Showing {{tweetCount}} results for '{{currentSearch}}':</h3>

    <md-list class="scrollable" layout-align="center" layout-margin layout-padding>
      <md-card ng-repeat="tweet in tweets">
        <md-item-content layout-margin layout-padding>
          <div class="md-tile-left" layout-margin>
            <img ng-src="{{tweet.userpic}}">
          </div>
          <div class="md-tile-content" layout-margin layout-padding>
            <h3>{{tweet.text}}</h3>
            <p ng-show="tweet.coordinates"> ({{tweet.coordinates[0]}}, {{tweet.coordinates[1]}})</p>
          </div>
        </md-item-content>
      </md-card>
    </md-list>
  </md-content>
</md-content>


<!-- the footer -->
<footer class="footer">
  <div class="container">
    <p>
      Cameron Fletcher | COSC3000 |
      <a href="https://github.com/cameronfletcher92/">Github</a></p>
    </p>
  </div>
</footer>
